body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body{
    background-color: rgba(194, 194, 194, 0.6);
    opacity: 0%;
}


.opa{
    opacity: 100%;
    transition: opacity 2s ease-in-out 0s;
}


img{
    width:100%;
    height:100%;
}

.contain{
    width: 1024px;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    color: rgb(220, 220, rgb(73, 73, 73));
    font-family: 'Cambay', sans-serif;
    font-size: 17px;
    justify-content: space-between;

}

.img{
    flex-basis: 33%;
    align-self: baseline;
    margin-top: -500px;

}

.cv{
    margin-top: -800px;
    flex-basis: 55%;
}

.img_opa{
    margin-top: 0;
    transition: margin-top 2s ease-in-out 0s;
}
.cv_opa{
    margin-top: 0;
    transition: margin-top 2s ease-in-out 0s;
}

.ol {
    margin-left: -30px;
}
